*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headtittle1 {
    font-size: 13px;
}

.minhead1 {
    background: #ff4800;
}

.minhead {
    background: #ff4800;
    color: #fff;
}

.btn1 {
    width: 155px;
    height: 58px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    float: right;
    background-color: black;
}

.box {
    width: 220px !important;
}

.box1 {
    width: 500px !important;
}

.anchortext1 {
    text-decoration: white;
    color: white;

}

.navlogo {
    width: 189px;
}

.navbar {
    background-color: #fdf9f971;
}

.navbar-nav li {
    padding: 0 10px;
    border-bottom: 3px solid #fdf9f971;

}

.navbar-nav li :hover {
    border-bottom: 3px solid #ff5a00;
    color: #ff5a00;


}

.navbar-nav li a {

    font-weight: 400;
}

.menu {
    color: black !important;
}
.menu1 {
    /* color: black !important; */
    color: #ff5a00 !important;
    border-bottom: 3px solid #ff5a00 ;
}

.icon1 {
    background-color: black;
}
.aboutimg
{
    background-image: url(https://preview.colorlib.com/theme/thecharity/images/about-bg.jpg.webp);
    height: 250px !important;
    background-position: center;
    background-repeat: no-repeat;

}
.abouttext1
{
    font-size: 43px;
    font-weight: 600;
    color: #fff;
}
.underline {
    width: 80px;
    height: 5px;
    border-radius: 22px;
    background-color: #ff4800;
    /* margin-left: 12px; */
}
.abouttext2
{
    font-size: 36px;
    font-weight: 600;
    color: #262626;
}
.aboutpera1
{
    font-size: 15px;
    line-height: 2;
    color: #a09c9c;
}
.aboutbtn1
{
    width: 152px;
    height: 53px;
    border-radius: 28px;
    border: none;
    color: white;
    background-color:#ff4800;
}

.itelicpera
{
    padding-bottom: 32px;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 550;
    line-height: 1.6;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}
.banner1
{
    background: #ff3700;
}
.banmertext
{
    font-size: 36px;
    font-weight: 600;
    word-spacing: 3px;
    color: #fff;
}
.btn2
{
    border-color: #fff;
    color: #fff;
    background-color: #ff4800;
    height: 53px;
    width: 158px;
    border-radius: 40px;
}
.footerban
{
    background-image: url(https://preview.colorlib.com/theme/thecharity/images/foot-bg.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.icon{
    text-decoration: none;
    color: #ff4800;
    font-size: 25px;
}
.h2{
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 45px;
}
.fotuse{
    text-decoration: none;
    color: #929191;
    font-size: 17px;
    line-height: 35px;  
}
.fotuse:hover {
    color: #ff4800;
}
.fotn{
    text-decoration: none;
    color: #929191;
    font-size: 15px;
}
.fotn:hover{
    color: #ff4800;
}
.icon1 {
    text-decoration: none;
    color: #ff4800;
    margin-left: 20px;
}
.icon2 {
    text-decoration: none;
    color: #ff4800;
    margin-left: 20px;
}
.box{
    font-size: 17px;
}
