*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headtittle1 {
    font-size: 13px;
}

.minhead1 {
    background: #ff4800;
}

.minhead {
    background: #ff4800;
    color: #fff;
}

.btn1 {
    width: 155px;
    height: 55px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    float: right;
    background-color: black;
}

.box {
    width: 220px !important;
}

.box1 {
    width: 500px !important;
}

.anchortext1 {
    text-decoration: white;
    color: white;

}

.navlogo {
    width: 189px;
}

.navbar {
    background-color: #fdf9f971;
}

.navbar-nav li {
    padding: 0 10px;
    border-bottom: 3px solid #fdf9f971;

}

.navbar-nav li :hover {
    border-bottom: 3px solid #ff5a00;
    color: #ff5a00;


}

.navbar-nav li a {

    font-weight: 400;
}

.menu {
    color: black !important;
}
.menu1 {
    /* color: black !important; */
    color: #ff5a00 !important;
    border-bottom: 3px solid #ff5a00 ;
}

.aboutimg {
    background-image: url(https://preview.colorlib.com/theme/thecharity/images/news-bg.jpg.webp);
    height: 250px !important;
    background-position: center;
    background-repeat: no-repeat;

}

.abouttext1 {
    font-size: 43px;
    font-weight: 600;
    color: #fff;
}

.underline {
    width: 80px;
    height: 5px;
    border-radius: 22px;
    background-color: #ff4800;
    /* margin-left: 12px; */
}

.serach {
    width: calc(100% - 76px);
    height: 52px;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    outline: none;
}

.btn4 {
    width: 165px;
    height: 54px;
    border-radius: 40px;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    background:#ff4800;
    color: #fff;
    cursor: pointer;
    outline: none;

}

.sidertext {
    font-size: 22px;
    font-weight: 600;
}

.sidertext1 {
    font-size: 14px;
    font-family: sans-serif;

}

.slidertext2 {
    font-size: 17px;
    font-weight:500;
}

.sidertext2 a {
    color: black;
    text-decoration: none;
}

.sidertext2 a:hover {
    border-bottom: 1px solid black;
}

.sidertext1 a {
    color: black;
    text-decoration: none;
}

.sidertext1 a:hover {
    border-bottom: 1px solid black;
}

.upertext {
    font-size: 14px;
    font-weight: 500;
    color: #ff5a00;
}

.spatext {
    color: #929191;
    font-size: 13px;
    padding-right: 4px;
    border-right: 1px solid #929191;
}

.spatext1 {
    color: #929191;
    font-size: 13px;
    padding-right: 4px;

}

.uperpera {
    font-size: 14px;
    color: #929191;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}
.gobtn
{
    background-color: #ff4800;
    border: 1px solid;
    width: 70px;
    height: 53px;
    font-size: 15px;
    border: none;
    color: #fff;
    font-weight: 500;
    margin-left: -5px;

}
.btn5 {
    background-color: #ff4800;
    border: 1px solid;
    width: 150px;
    height: 53px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 500;
}
.sidertext3
{
    border-right: 1px solid #2626266b;
    font-size: 12px;
    line-height: 1;
    padding-right: 4px;
    color: #262626a6;
}
.sidertext4
{
   
    font-size: 12px;
    line-height: 1;
    /* padding-right: 4px; */
    color: #262626a6;
}
.siderpera
{
    color: #929191;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.watertext {

    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: inherit;

}

.waterpera {
    font-size: 14px;
    color: #929191;
}
.footerban
{
    background-image: url(https://preview.colorlib.com/theme/thecharity/images/foot-bg.jpg.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}